<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579175655726-6qplma4nv7geoc19o6tnjluenm89roch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579175655726-6qplma4nv7geoc19o6tnjluenm89roch</string>
	<key>API_KEY</key>
	<string>AIzaSyA6Ma2f-rL1sgqVlRk4jnMoPn0SI0K9oPo</string>
	<key>GCM_SENDER_ID</key>
	<string>579175655726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nadiaayala.piggy.Piggy</string>
	<key>PROJECT_ID</key>
	<string>piggy-567c5</string>
	<key>STORAGE_BUCKET</key>
	<string>piggy-567c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579175655726:ios:3ef415cfa6e053d6</string>
	<key>DATABASE_URL</key>
	<string>https://piggy-567c5.firebaseio.com</string>
</dict>
</plist>